<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Purdue Life.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>467A09E11E724C95004E215C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>467A09F51E724C95004E215C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>467A0A001E724C95004E215C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
